.collectionView {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.collectionItem {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 80px;
  height: 40px;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.image-container {
  width: 100%;
  height: 60%;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  padding: 20px;
  height: 40%;
  background-color: #f8f8f8;
}

.info-container h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.info-container p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.gray {
  color: gray;
  border-color: gray;
}

.red {
  color: #fc0d1b;
  border-color: #fc0d1b;
}

.orange {
  color: #f8812e;
  border-color: #f8812e;
}

.green {
  color: #47b255;
  border-color: #47b255;
}

.ccc {
  color: #ccc;
  border-color: #ccc;
}
